{{ before_widget }}

{% if facebook %}
    <a href="{{ facebook }}" class="fa fa-facebook"></a>
{% endif %}

{% if twitter %}
    <a href="{{ twitter }}" class="fa fa-twitter"></a>
{% endif %}

{% if pinterest %}
    <a href="{{ pinterest }}" class="fa fa-pinterest-p"></a>
{% endif %}

{% if instagram %}
    <a href="{{ instagram }}" class="fa fa-instagram"></a>
{% endif %}

{% if google %}
    <a href="{{ google }}" class="fa-google-plus"></a>
{% endif %}

{% if skype %}
    <a href="{{ skype }}" class="fa-skype"></a>
{% endif %}

{% if rss %}
    <a href="{{ rss }}" class="fa fa-rss"></a>
{% endif %}

{% if vimeo %}
    <a href="{{ vimeo }}" class="fa fa-vimeo-square"></a>
{% endif %}

{% if youtube %}
    <a href="{{ youtube }}" class="fa fa-youtube"></a>
{% endif %}

{{ after_widget }}