<div class="grid_4">
    <div class="box">
        <img src="{{ service.image|resize(370, 244) }}" alt="{{ service.text }}">
        <div class="box_bot">
            <div class="maxheight">
                <div class="text1 col1"><a href="{% if service.link %}{{ service.link }}{% else %}javascript:void(0);{% endif %}">{{ service.text }}</a></div>
                {{ service.description }}
                <a href="{% if service.link %}{{ service.link }}{% else %}javascript:void(0);{% endif %}" class="fa fa-caret-right"></a>
            </div>
        </div>
    </div>
</div>