    {{ args.before_widget }}
        <a class="services-sidebar" href="{{ link }}"><img src="{{ image|resize(370, 144) }}" alt="">
        <div class="capt">
            <div class="text1">{{ title }}</div>
            {{ description }}
           
        </div></a>
    {{ args.after_widget }}