{{ args.before_widget }}
{% if icon %}
    <div class="fa col1 {{ icon }}"></div>
{% endif %}
<div class=" title col1">
    <a href="{{ link }}">{{ title }}</a>
</div> <div class="clear"></div>
{{ description }}
{{ args.after_widget }}